<title>My app deployed auto</title>
  <h1>You have to type at least 3 numbers to the first box than type one numbers for each box.This app will show you the numbers that match with in the firts box and the other 3 box</h1>
    {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
